@import 'custom';

$gray: #808080;
$blue: #007bff;
$white: #fff;

.container {
  max-height: 240px;
  padding: 10px;
  width: 480px;
}

#credibility {
  color: $gray;
  font-size: 2rem;
}

.title {
  font-size: 1.5rem;
  margin-top: 1px;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
}

.col-3 {
  text-align: center;
  width: 25%;
}

.col-9 {
  width: 70%;
}

.labels {
  font-size: 1.1rem;
}

.form-control {
  border-radius: 10px;
  height: 65px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 90%;
  padding: 3%;
}

.form-group {
  text-align: center;
}

button {
  background-color: $blue;
  border-color: $blue;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 7px;
  width: 20%;
}

#currentPage {
  font-size: 1rem;
}

#VerifyPageButtonScrapper {
  font-size: .9rem;
  margin-bottom: 10px;
  padding: 5px;
  width: 25%;
}

#VerifyPageButtonTwitterApi {
  font-size: .9rem;
  margin-left: 15px;
  padding: 5px;
  width: 55%;
}
