@import 'custom';

$gray: #808080;

.container {
  max-height: 240px;
  padding: 10px;
  max-width: 480px;
}

#credibility {
  color: $gray;
  font-size: 24px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0px;
  
}
.flex-center {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
}

.col-3 {
  width: 25%;
  text-align: center
}
.col-9 {
  width: 70%;
}

.labels {
  font-size: 1.1rem;
}

.form-control {
  border-radius: 10px;
  max-width: 90%;
  padding: 3%;
  margin-top: 10px;
  height: 65px;
  margin-bottom: 10px;
}
.form-group {
  text-align: center;
}
button {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  border-radius: 10px;
  width: 20%;
  padding: 7px;
  margin-bottom: 10px
}

#currentPage {
  font-size: 1.0rem
}

#VerifyPageButtonScrapper {
  width: 20%;
  padding: 5px;
  margin-bottom: 10px;
}

#VerifyPageButtonTwitterApi {
  margin-left: 15px;
  width: 60%;
  padding: 5px;
}
